* {
  padding: 0;
  margin: 0;
}

.body-index {
  background-image: url(../assets/wallpaperpages.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.body {
  background-image: url(../assets/wallpaperpages.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body .body-index {
  background-image: url(../assets/wallpaperpages.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media only screen and (max-width: 1089px) and (min-width: 200px) {
  .body {
    background-image: url(../assets/wallpaperpages.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media only screen and (max-width: 1089px) and (min-width: 200px) {
  .body-index {
    background-image: none;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
/* ----------------------------------Nav Bar */
#navbarNav :hover {
  color: rgb(8, 185, 185);
}

@font-face {
  font-family: Rasputin;
  src: url(../../assets/Rasputin.otf);
}
.gif-index {
  padding: 40px 60px;
  justify-content: center;
  align-items: center;
  display: flexbox;
  position: relative;
  box-shadow: -1px 2px 28px -5px rgba(250, 247, 183, 0.35);
  -webkit-box-shadow: -1px 2px 28px -5px rgba(250, 247, 183, 0.35);
  -moz-box-shadow: -1px 2px 28px -5px rgba(250, 247, 183, 0.35);
}
.gif-index .gif {
  align-items: center;
  width: fit-content;
  width: 100%;
  animation-play-state: running;
}

.info {
  margin: 40px 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(240, 226, 215, 0.4588235294);
  box-shadow: -1px 2px 28px -5px rgba(250, 247, 183, 0.35);
  -webkit-box-shadow: -1px 2px 28px -5px rgba(250, 247, 183, 0.35);
  -moz-box-shadow: -1px 2px 28px -5px rgba(250, 247, 183, 0.35);
  font-family: rasputin;
  color: rgba(51, 41, 33, 0.5803921569);
  font-weight: 400;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.info .title-dos {
  color: rgba(49, 40, 32, 0.6901960784);
}

@media only screen and (max-width: 1096px) and (min-width: 200px) {
  .gif-index {
    display: none;
  }

  .body-index {
    background-color: rgba(240, 226, 215, 0.4588235294);
  }

  .info {
    margin: 4%;
  }
  .info p {
    font-size: 15px;
  }
}
/* Seccion Nosotros */
.nosotros-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 50px;
  justify-content: center;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(247, 238, 232, 0.4588235294);
  box-shadow: -1px 2px 28px -5px rgba(250, 247, 183, 0.35);
  -webkit-box-shadow: -1px 2px 28px -5px rgba(250, 247, 183, 0.35);
  -moz-box-shadow: -1px 2px 28px -5px rgba(250, 247, 183, 0.35);
  font-family: rasputin;
  color: rgba(51, 41, 33, 0.5803921569);
  font-weight: 400;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 1089px) and (min-width: 200px) {
  .img-nosotros {
    display: none;
  }

  .nosotros-info {
    margin: 5px;
  }
  .nosotros-info p {
    font-size: 17px;
  }
  .nosotros-info h2 {
    margin-top: 20px;
  }
}
/* ----------------------Fin seccion Nosotros */
/* --------------------------Seccion Servicios */
@font-face {
  font-family: Rasputin;
  src: url(../../assets/Rasputin.otf);
}
.cards-servicios {
  margin: 40px 30px;
  position: absolute;
}
.cards-servicios .card {
  position: relative;
  flex-direction: row;
  margin: 7px 3px 7px 3px;
  width: 100%;
  background-image: linear-gradient(rgba(245, 224, 234, 0.514), rgba(129, 253, 243, 0.493));
  background: border-box;
  box-shadow: -1px 2px 28px -5px rgba(255, 253, 220, 0.541);
}
.cards-servicios .card-body {
  background-image: linear-gradient(rgba(245, 224, 234, 0.514), rgba(129, 253, 243, 0.493));
  background: border-box;
  box-shadow: -1px 2px 28px -5px rgba(255, 253, 220, 0.541);
}
.cards-servicios .card-title {
  font-family: rasputin;
  color: rgba(51, 41, 33, 0.5803921569);
}
.cards-servicios .card-text {
  font-family: rasputin;
  color: rgba(51, 41, 33, 0.5803921569);
}

@media only screen and (max-width: 700px) and (min-width: 200px) {
  .card-img-top {
    display: none;
  }

  .cards-servicios {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
/* -----------------------Fin seccion Servicios */
/* Seccion Cursos */
@font-face {
  font-family: Rasputin;
  src: url(../../assets/Rasputin.otf);
}
.cards-cursos {
  margin-top: 2%;
  margin-bottom: 3%;
}
.cards-cursos .cards-container {
  justify-content: center;
  align-items: center;
  display: flexbox;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 7px;
}
.cards-cursos .cards-container .card {
  position: relative;
  flex-direction: row;
  margin: 7px 3px 7px 3px;
  background-image: linear-gradient(rgba(245, 224, 234, 0.514), rgba(129, 253, 243, 0.493));
  background: border-box;
  box-shadow: -1px 2px 28px -5px rgba(255, 253, 220, 0.541);
  font-family: rasputin;
  color: rgba(58, 48, 38, 0.6980392157);
  text-align: center;
  font-weight: 500;
}
.cards-cursos .cards-container .card .card-title {
  text-align: center;
  font-weight: 800;
}
.cards-cursos .cards-container .card .card-text {
  padding-top: 6px;
}
.cards-cursos .cards-container .card .card-subtitle {
  text-align: center;
}

@media only screen and (max-width: 700px) and (min-width: 200px) {
  .main {
    flex-basis: content;
    flex-direction: column;
  }

  .cards-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 2px;
    margin: 1px;
    width: 100%;
  }

  .card {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .card-body {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .card-title {
    font-size: 16px;
    margin: 1px;
  }

  .card-subtitle mb-2 text-muted {
    justify-content: space-evenly;
    font-size: 13px;
    margin: 1px;
  }
}
.carrousel-cursos {
  margin: 30px 45px;
  justify-content: center;
  align-items: center;
  display: flexbox;
  position: relative;
}

/* Fin de seccion Cursos */
/* footer */
@font-face {
  font-family: Rasputin;
  src: url(../../assets/Rasputin.otf);
}
.footer-container {
  display: list-item;
  bottom: 0 !important;
  margin-top: 100%;
  padding: 5px 30px;
  background-color: rgba(238, 176, 238, 0.1098039216);
  width: 100%;
  font-family: rasputin;
  color: rgba(51, 41, 33, 0.5803921569);
  position: relative;
  font-size: 12px;
  margin-top: auto;
}
.footer-container h3 {
  font-size: 15px;
}
.footer-container .btn-social {
  color: rgba(43, 41, 41, 0.877);
}
.footer-container .btn-social:hover {
  color: rgb(8, 185, 185);
}
.footer-container .btn-social:visited {
  color: #035a4c;
  font-size: 1.3rem;
}

.btn-social:active {
  color: #000000;
  font-size: 1.3rem;
}

@media only screen and (max-width: 960px) and (min-width: 200px) {
  .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 2px;
    margin-top: auto;
    width: 100%;
    position: relative;
  }

  h3 {
    font-size: 16px;
    margin: 1px;
  }

  p {
    justify-content: space-evenly;
    font-size: 13px;
    margin: 1px;
  }
}
/* --------------------------Seccion Contacto */
@font-face {
  font-family: Rasputin;
  src: url(../../assets/Rasputin.otf);
}
.card-contacto {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: #3b3737;
  text-align: center;
  margin: 30px 25px;
  width: 95%;
  padding: 10px;
  background-color: rgba(240, 226, 215, 0.4588235294);
  box-shadow: -1px 2px 28px -5px rgba(255, 253, 220, 0.541);
  font-family: rasputin;
  color: rgba(51, 41, 33, 0.6705882353);
}
.card-contacto .card-title-contacto {
  font-size: 40px;
  font-weight: 500;
}
.card-contacto .mb-3 {
  margin: 10px 60px;
}

/*-----------------------FIN de seccion contacto */
.cards-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
