/* --------------------------Seccion Contacto */
@import '../base/variables';
@font-face {
    font-family: Rasputin;
    src: url(../../assets/Rasputin.otf);
}
.card-contacto {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: #3b3737;
    text-align: center;
    margin: 30px 25px;
    width: 95%;
    padding: 10px;
    background-color: #f0e2d775;
    box-shadow: $box-shadow;
    font-family: rasputin;
    color: #332921ab;

    & .card-title-contacto{
        font-size: 40px;
        font-weight: 500;
    }

    & .mb-3{
        margin: 10px 60px;
    }

}

/*-----------------------FIN de seccion contacto */
