/* Seccion Cursos */
@import '../base/variables';
@import '../base/mapas';
@font-face {
    font-family: Rasputin;
    src: url(../../assets/Rasputin.otf);
}


.container-cursos{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin: 10px 60px 10px 60px;

    & .card-curso{
        margin: 20px;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        background: border-box;
        box-shadow: $box-shadow;
        background-color: #130113d3;
        font-family: rasputin;
        color: #aaa9a894;
        text-align: center;
        
        & .card-title{
            text-align: center;
            font-weight: 800;
            padding: 10px;
        }
        & .cardcurso-text{
            padding: 6px;
            font-size: 20px;
        }
        & .card-subtitle{
            text-align: center;
            font-size: 15px;
        }
    }
}
    


/* Fin de seccion Cursos */