/* Seccion Cursos */
@import '../base/variables';
@import '../base/mapas';
@font-face {
    font-family: Rasputin;
    src: url(../../assets/Rasputin.otf);
}


.container-cursos{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    & .card-curso{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        margin: 7px 3px 7px 3px;
        background-image: map-get($map: $cards, $key: bg-ig);
        background: border-box;
        box-shadow: $box-shadow;
        font-family: rasputin;
        color: #3a3026af;
        text-align: center;
        
        & .card-title{
            text-align: center;
            font-weight: 800;
            padding: 10px;
        }
        & .cardcurso-text{
            padding: 6px;
            font-size: 20px;
        }
        & .card-subtitle{
            text-align: center;
            font-size: 15px;
        }
    }
}
    
.carrousel-cursos{
    margin: 10px;
}


@media only screen and (max-width: 700px) and (min-width: 200px) {    

.carrousel-cursos{
    margin: 5px;
}
}

/* Fin de seccion Cursos */
