* {
    padding: 0;
    margin: 0;
}
.body-index{
    background-image: url(../assets/wallpaperpages.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.body{
    background-image: url(../assets/wallpaperpages.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    & .body-index{
        background-image: url(../assets/wallpaperpages.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 1089px) and (min-width: 200px){
    .body{
        background-image: url(../assets/wallpaperpages.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}


@media only screen and (max-width: 1089px) and (min-width: 200px){
.body-index{
    background-image: url(../assets/wallpaperpages.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
}
    
/* ----------------------------------Nav Bar */
#navbarNav :hover{
    color: rgb(8, 185, 185);
}
