* {
    padding: 0;
    margin: 0;
}

@import '../base/variables';

.nav-icon{
    width: 42px;
    height: auto;
}

#navbarNav :hover{
    color: rgb(8, 185, 185);
}


.body{
    background: rgb(7,0,36);
    background: linear-gradient(189deg, rgba(7,0,36,1) 0%, rgba(76,22,80,1) 48%, rgba(42,108,76,1) 100%);
}

    
/* ----------------------------------Nav Bar */


