* {
    padding: 0;
    margin: 0;
}

@import '../base/variables';

.nav-icon{
    width: 42px;
    height: auto;
}

#navbarNav :hover{
    color: rgb(8, 185, 185);
}
@media only screen and (max-width: 990px) and (min-width:200px){ 

.navbar-dark .navbar-brand{
 display: none;
}

}


.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: rgb(7,0,36);
    background: linear-gradient(189deg, rgba(7,0,36,1) 0%, rgba(76,22,80,1) 48%, rgba(42,108,76,1) 100%);
}


.body-index{
    background-image: url(../assets/index.jpg);
    background-repeat: cover;
    background-attachment: scroll;
    background-position-x: right;
}

.body-hogar{
        background: rgb(238,254,166);
        background: radial-gradient(circle, rgba(238,254,166,1) 0%, rgba(133,241,180,0.8295693277310925) 48%, rgba(2,102,101,1) 100%);
}

.subir-foto{
    border: solid 1px rgb(100, 4, 104);
    border-radius: 100%;
    background-color: aquamarine;
    height: 2.5rem;
    width: auto;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    position: fixed;
    bottom: 5rem;
    right: 0;
    opacity: 50%;
    transition: 0.2s;

    &:hover{
        opacity: 100%;
        transition: 0.2s;
    }

    @media only screen and (max-width:  480px){
        display: none;
    }
    
}
    
/* ----------------------------------Nav Bar */


