/* Seccion Nosotros */
@import '../base/variables';
@import '../base/mixin';

.nosotros-info{
    @include flex(flex, center);
    flex-direction: column;
    margin: 40px 50px;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #f7eee875;
    box-shadow: -1px 2px 28px -5px rgba(250,247,183,0.35);
    -webkit-box-shadow: -1px 2px 28px -5px rgba(250,247,183,0.35);
    -moz-box-shadow: -1px 2px 28px -5px rgba(250,247,183,0.35);
    font-family: rasputin;
    color: #33292194;
    font-weight: 400;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

@media only screen and (max-width: 1089px) and (min-width: 200px){
    .img-nosotros{
     display: none;
}
    .nosotros-info{
        margin: 5px;
        & p {
            font-size: 17px;
        }
        & h2{
            margin-top: 20px;
        }
    }
    
}
/* ----------------------Fin seccion Nosotros */

