/* --------------------------Seccion Servicios */
@import '../base/mapas';
@import '../base/variables';
@font-face {
    font-family: Rasputin;
    src: url(../../assets/Rasputin.otf);
}


.cards-servicios{
    margin:40px 30px;
    position: absolute;
    @extend %flex;
    position: relative;

    & .card {
        position: relative;
        flex-direction: row;
        margin: 7px 3px 7px 3px;
        width: 100%;
        background-image: map-get($map: $cards, $key: bg-ig);
        background: border-box;
        box-shadow: $box-shadow;
    }

    & .card-body {
    background-image: map-get($map: $cards, $key: bg-ig);
    background: border-box;
    box-shadow: $box-shadow;
    }

    & .card-title{
        font-family: rasputin;
        color: #33292194;
        font-weight: 700;
    }
    & .card-text{
        font-family: rasputin;
        color: #33292194;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 200px) {    
   .card-img-top{
       display: none;
   }
   .cards-servicios {
       margin-top: 5%;
       margin-left: 5%;
       margin-right: 5%;
       position: relative;
    
       & .card-title{
        font-size: larger;
       }
       & .card-text{
        font-size: large;
       }
   }
}
/* -----------------------Fin seccion Servicios */
