//* --------------------------Seccion Servicios */
@import '../base/mapas';
@import '../base/variables';
@font-face {
    font-family: Rasputin;
    src: url(../../assets/Rasputin.otf);
}

.parallax1 {
    /* The image used */
    background-image: url("../assets/tarot.jpeg");
    /* Set a specific height */
    min-height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url("../assets/reiki.jpg");
    /* Set a specific height */
    min-height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax3 {
    /* The image used */
    background-image: url("../assets/pendulo.jpeg");
    /* Set a specific height */
    min-height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    /* The image used */
    background-image: url("../assets/cristals.jpg");
    /* Set a specific height */
    min-height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .parallax-style{
        background-color:rgba(63, 11, 63, 0.466);
        background-color: #130113d3;
        font-family: rasputin;
        color: #a8c4bfcc;
        box-shadow: $box-shadow;
        align-items: center;
        text-align: center;
        padding: 20px;

    & .card-title{
        font-family: rasputin;
        color: #aaa9a894;
        font-size: 30px;
        font-weight: 700;
    }

    & .card-text{
        font-family: rasputin;
        color: #a8c4bfcc;
        font-size: 20px;
    }
    
}

.parallax5 {
    /* The image used */
    background-image: url("../assets/call.jpg");
    /* Set a specific height */
    min-height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax6 {
    /* The image used */
    background-image: url("../assets/universe.jpg");
    /* Set a specific height */
    min-height: 200px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

@media screen and (min-device-width: 281px) and (max-device-width: 768px) {
    .parallax6 {
      background-attachment: scroll;
    }
    .parallax5 {
        background-attachment: scroll;
      }
      .parallax4 {
        background-attachment: scroll;
      }.parallax3 {
        background-attachment: scroll;
      }.parallax2 {
        background-attachment: scroll;
      }.parallax1 {
        background-attachment: scroll;
      }
  }


/* -----------------------Fin seccion Servicios */