

$cards: (
    position: relative,
    flex-direction: row,
    margin: 7px 3px 7px 3px,
    width: 100%,
    bg-ig: linear-gradient(rgba(174, 255, 255, 0.514), rgba(129, 253, 243, 0.363)),
    background: border-box,
    box-shadow: 10px 5px 5px rgba(228, 242, 255, 0.281),
);